@font-face {
	font-family: "Montserrat";
	src: url("../fonts/Montserrat/Montserrat-Regular.eot");
	src: url("../fonts/Montserrat/Montserrat-Regular.eot?#iefix")format("embedded-opentype"),
	url("../fonts/Montserrat/Montserrat-Regular.woff") format("woff"),
	url("../fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "Montserrat";
	src: url("../fonts/Montserrat/Montserrat-Medium.eot");
	src: url("../fonts/Montserrat/Montserrat-Medium.eot?#iefix")format("embedded-opentype"),
	url("../fonts/Montserrat/Montserrat-Medium.woff") format("woff"),
	url("../fonts/Montserrat/Montserrat-Medium.ttf") format("truetype");
	font-style: normal;
	font-weight: 500;
}


@font-face {
	font-family: "Playfair Display";
	src: url("../fonts/PlayfairDisplay/PlayfairDisplay-Regular.eot");
	src: url("../fonts/PlayfairDisplay/PlayfairDisplay-Regular.eot?#iefix")format("embedded-opentype"),
	url("../fonts/PlayfairDisplay/PlayfairDisplay-Regular.woff") format("woff"),
	url("../fonts/PlayfairDisplay/PlayfairDisplay-Regular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
